.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}

.masthead {
    background-image: url(./assets/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .navbar {
    background-color: #F7F7F7;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    overflow: hidden; /* Ensure the image is clipped to the circle */
  }
  
  .logo-container img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .logo-footer {
    max-width: 100px;
    height: auto;
  }
  
  .footer-links {
    a {
      color: inherit; /* Inherit text color from parent */
      text-decoration: none; /* Remove underline */
      position: relative; /* Position relative for pseudo-element */
  
      /* Create underline pseudo-element */
      &::after {
        content: ""; /* Empty content for pseudo-element */
        position: absolute; /* Position absolute for pseudo-element */
        left: 0;
        bottom: -2px; /* Adjust underline position */
        width: 100%;
        height: 2px; /* Underline thickness */
        background-color: currentColor; /* Match text color */
        transition: width 0.3s ease-in-out; /* Animation transition (eases in) */
        transform-origin: bottom left; /* Animation origin at bottom left */
        transform: scaleX(0); /* Initial state (invisible) */
      }
  
      /* Hover state for anchor links */
      &:hover::after {
        width: 100%; /* Full width on hover */
        transform: scaleX(1); /* Scale to show underline */
      }
    }
  }
  
  /* Responsive styles */
  @media (max-width: 991.98px) {
    .logo-container {
      width: 50px;
      height: 50px;
    }
  }
  
  @media (max-width: 768px) {
    .mobile-details {
      display: block;
    }
    .login-div {
      width: 80% !important;
    }
  }
  
  /* .nav-item{
      background-color: rgba(0,0,0,0.3);
  
  } */